<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
      <form method="GET" class="mbr-form form-with-styler" data-form-title="Form Name">
        <input name="view" type="hidden" id="view-input" value="map">

        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <img src="assets/images/belmont-blotter.png" class="img-fluid mb-3" alt="Belmont Police Blotter">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <strong>Warning:</strong> The Belmont Police Department has stopped providing updated police 
              blotter information. The latest data is for 2023-06-11. No information past that date is 
              publicly available on their website, therefore there is no updated data for our website.
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>Notice:</strong> This web site is not endorsed by, directly affiliated with, maintained,
              authorized, or sponsored by the Belmont Police Department or the Town of Belmont.
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Belmont PD</h5>
                <p class="card-text">Visit the website of the Belmont Police Department.</p>
                <a href="https://www.belmontpd.org" class="btn btn-primary">Go there</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Police Blotter PDFs</h5>
                <p class="card-text">Go directly to the page with all of the weekly police log reports.</p>
                <a href="https://www.belmontpd.org/resident-resources/pages/police-blotter" class="btn btn-primary">Go
                  there</a>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Request More Information</h5>
                <p class="card-text">Submit an information request for any of the listed reports.</p>
                <a href="https://belmontma.nextrequest.com/" class="btn btn-primary">Go there</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="accordion mb-3" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                  aria-controls="panelsStayOpen-collapseOne">
                  Time Filters
                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                  <div class="row">
                    <div class="input-group mb-3 col">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="month-selection">Month</label>
                      </div>
                      <select name="month_number" class="form-select" aria-label="Month" aria-describedby="month-label"
                        id="month-selection">
                        <option selected value="">All months</option>
                        <option id="month_number-1" value="1">January</option>
                        <option id="month_number-2" value="2">February</option>
                        <option id="month_number-3" value="3">March</option>
                        <option id="month_number-4" value="4">April</option>
                        <option id="month_number-5" value="5">May</option>
                        <option id="month_number-6" value="6">June</option>
                        <option id="month_number-7" value="7">July</option>
                        <option id="month_number-8" value="8">August</option>
                        <option id="month_number-9" value="9">September</option>
                        <option id="month_number-10" value="10">October</option>
                        <option id="month_number-11" value="11">November</option>
                        <option id="month_number-12" value="12">December</option>
                      </select>
                    </div>
                    <div class="input-group mb-3 col">
                      <div class="input-group-prepend"> <label class="input-group-text"
                          for="year-selection">Year</label>
                      </div>
                      <select name="four_digit_year" class="form-select" aria-label="Year" aria-describedby="year-label"
                        id="year-selection">
                        <option selected value="">All years</option>
                        <option id="four_digit_year-2023" selected value="2023">2023</option>
                        <option id="four_digit_year-2022" value="2022">2022</option>
                        <option id="four_digit_year-2021" value="2021">2021</option>
                      </select>
                    </div>
                    <div class="input-group mb-3 col">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="incident-limit-selection">Incident limit</label>
                      </div>
                      <select name="limit" class="form-select" aria-label="Incident limit"
                        aria-describedby="incident-limit-label" id="incident-limit-selection">
                        <option id="limit-10" value="10">10</option>
                        <option selected id="limit-20" value="20">20</option>
                        <option id="limit-30" value="30">30</option>
                        <option id="limit-40" value="40">40</option>
                        <option id="limit-50" value="50">50</option>
                        <option id="limit-60" value="60">60</option>
                        <option id="limit-70" value="70">70</option>
                        <option id="limit-80" value="80">80</option>
                        <option id="limit-90" value="90">90</option>
                        <option id="limit-100" value="100">100</option>
                        <option id="limit-200" value="200">200</option>
                        <option id="limit-300" value="300">300</option>
                        <option id="limit-400" value="400">400</option>
                        <option id="limit-500" value="500">500</option>
                        <option id="limit-1000" value="1000">1,000</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" id="street-filter-button"
                  aria-controls="panelsStayOpen-collapseTwo">
                  Location Filters
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                  <div class="row">
                    <div class="input-group mb-3 col ui-widget">
                      <span class="input-group-text" id="street-name-label">Street name</span>
                      <input list="streets" name="distance_from" class="form-control" id="street-name-input"
                        aria-label="Stree name and optional number" aria-describedby="street-name-label">
                    </div>
                    <div class="input-group mb-3 col">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="search-radius-selection">Search radius</label>
                      </div>
                      <select name="distance_limit" class="form-select" id="search-radius-selection">
                        <option id="distance_limit-0.1" value="0.1">0.10 miles</option>
                        <option id="distance_limit-0.25" value="0.25">0.25 miles</option>
                        <option id="distance_limit-0.5" value="0.5">0.5 miles</option>
                        <option id="distance_limit-1" value="1">1 mile</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-warning" type="submit">Search!</button>
          </div>
        </div>
        <div class="row justify-content-center">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <button onclick="setHiddenMapOrListInput('map');" class="nav-link active" id="nav-map-tab"
                data-bs-toggle="tab" data-bs-target="#nav-map" type="button" role="tab" aria-controls="nav-map"
                aria-selected="true">Map</button>
              <button onclick="setHiddenMapOrListInput('list');" class="nav-link" id="nav-list-tab" data-bs-toggle="tab"
                data-bs-target="#nav-list" type="button" role="tab" aria-controls="nav-list"
                aria-selected="false">List</button>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-map" role="tabpanel" aria-labelledby="nav-map-tab">
              <h3><span id="incident-count"></span> Incidents:</h3>
              <div id="dvMap" style="height: 500px">
                No Results
              </div>
            </div>
            <div class="tab-pane fade" id="nav-list" role="tabpanel" aria-labelledby="nav-list-tab">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Incident ID</th>
                    <th scope="col">Type</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Location</th>
                  </tr>
                </thead>
                <tbody id="incident-list">
                  <tr id="no-results-row">
                    <td>No Results</td>
                  </tr>
                </tbody>
              </table>
              <nav aria-label="Incident navigation">
                <ul class="pagination justify-content-center">
                  <li class="page-item disabled" id="prev-page-container">
                    <a class="page-link" id="prev-page-link" aria-disabled="true">Previous</a>
                  </li>
                  <li class="page-item" id="next-page-container">
                    <a class="page-link" id="next-page-link">Next</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript" src="assets/js/app.js"></script>
<!-- This is a restricted API key and cannot be used on any other site other than this one. -->
<script type="text/javascript"
  src="//maps.googleapis.com/maps/api/js?key=AIzaSyAxsydycQ9ybjv0RSC3TNd_n_AS-m4dbU4"></script>
