<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% if page.number %}
      <title>Incident: {{ page.number }} - Belmont Police Blotter</title>
    {% else %}
      <title>Belmont Police Blotter</title>
    {% endif %}
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    {% if page.number %}
      {% include incident.html %}
    {% else %}
      {% include home.html %}
    {% endif %}
    <footer>
      &copy; to me
    </footer>
  </body>
</html>
